@{
    ViewData["Title"] = "Thong Tin sih vien";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger">
    <p>Ma Sinh vien:230000123213</p>
    <p>Ho va Ten: Do TIen DUng</p>
    <p>Email:dodungad23@gmail.com</p>
</div>
