@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-info">
    <p>Ma sinh vien: 2310900025</p>
    <p>Ho va ten: Do Tien Dung</p>
    <p>Email: dodung26102005@gmail.com</p>
    <p>So dien thoai:<a href="tel:0987654321" title="0987654321"> 0987.654.321</a></p>
    <p>Lop: K23CNT1</p>
</div>
