@{
    ViewData["Title"] = "DtdProfile";
}
<h1>DtdProfile</h1>

<div class="alert alert-danger">
    <p>Ma sinh vien: 2310900025</p>
    <p>Ho Ten: Do Dung</p>
    <p>Lop: K23CNT1</p>
    <p>Email: 112456@gmail.com</p>
    <p>Phone: 00213654 </p>
</div>
