@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<div class="alert alert-danger">
    <h1>MaSV:0012321</h1>
    <h1>Ho ten:Do Duggx</h1>
    <h1>Ngay sinh:23/3/1222</h1>
    <h1>Dia chi:Ha Noi</h1>
    <h1>So dien thoai:0123456789</h1>  
    
</div>

