    
@{
    ViewData["Title"] = "Information";
}

<div class="alert alert-info">
    <1>Information</1>
    <hr/>   
    <p>ID:231090025</p>
    <p>Name:David</p>
    <p>Class:K23CNT1</p>
    <p>Gmail:1234zxc</p>
    <p>Phone:0123456789</p>
</div>

